.App {
  text-align: center;

}

.nav-bar {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  position: sticky;
  z-index: 999;
  top:0;
  /* background-color: rgb(243, 232, 212);; */
  background:radial-gradient(#fff,#ebf3b8);
  border-radius: 3px;
}

.nav-bar > img {
  width: 100px;
  height: 100px;
  border-radius: 70px;
  border-color:2px black;
}

.nav-bar > ul {
  display: flex;
  align-items: center;
  
  /* text-decoration: none; */
}

.nav-bar > ul > li {
  text-decoration: none;
  list-style-type: none;
  margin: 5px;
  
}

.info{
  /* display:flex;
  align-items: center; */

}

.Search {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.search-text {
  margin-right: 10px;
  padding:6px 50px 6px 50px;
}

.restaurant-card {
  height: 500px;
  width: 300px;
  margin-left: 10px;
  text-align: center;
  border: 1px solid #1d1b1a;
  margin:10px;
  font-family: 'Poppins', sans-serif;
  background:radial-gradient(#fff,#efd7bd);
  color:rgb(100, 17, 17);
  transition: 0.7ms;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   
  
  
}

.restaurant-card:hover {
  border: 3px solid rgb(230, 68, 9);
  cursor: pointer;
}

.restaurant-card > img {
  width: 90%;
  height: 50%;
  margin: 15px;
  border-radius: 3px;
  border-color: 4px #0e0e0f;
}

.res-info {
  /* display: flex; */
  justify-content: space-around;

  /* margin: 10px; */
  
  
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background:radial-gradient(#fff,#f4f5ef);
  
  
}

.filter-search-bar{
  display: flex;
  justify-content: center;
  background:radial-gradient(#fff,#f4f5ef);
}

.btn-2{
  position:relative;
  left:8px;
  cursor: pointer;
  border-radius: 5px;
  background: #2dd056d3;
  color:black;
 
}

.btn-2:hover{
  background: #0c7526d3;
  color:black;
}

.btn-1{
  cursor:pointer;
  border-radius: 5px;
  color:black;
  background: #2dd056d3;

}

.btn-1:hover{
  background: #0c7526d3;
  color:black;
}

.login-button{
  height: fit-content;
  margin-top: 8px;
  margin-left: 7px;
  padding: 9px;
  color:black;
  background: #e0715ed3;
  border-radius: 5px;
}

.login-button:hover{
  background: #c04130d3;
  color:black;
}

.shimmer-card{
  display:flex;
  flex-wrap: wrap;
  height: 300px;
  width: 250px;
  margin: 10px;
  background-color: lightgray;
}

.menu-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
  border: 1px solid #37393d;
}

.menu-card:hover{
  border: 3px solid rgb(233, 123, 72);
  cursor: pointer;
}

.menu-card > img {
  width: 15%;
  border-radius: 15px;
  border: #f1884b;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  /* position:sticky; */
  bottom:0;
  z-index: 999;
  background-color: white;
  border-radius: 4px;
  margin-top:10px ;
  background:radial-gradient(#fff,#edc8c2);
 
  /* text-decoration: none; */
  /* padding: 20px; */
  text-align: center;
  /* float: left; */
  /* color: white;   */
}


